* {
  border-style: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background:#000;
  margin: 0;
  padding: 0;
}

/* _______________________NAVBAR_______________________ */

.navbar {
  background: #be3144;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

li, a {
  margin: 12px 18px;
  list-style: none;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
}

a:hover {
  color:#000;
  transition: .5s;
}

/* _______________________WELCOME SECTION______________________ */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: block;
  text-align: center;
  line-height: 0.5;
}

header h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

header p {
  font-size: 26px;
  font-style: italic;
  letter-spacing: 2px;
  color: #be3144;
}

/* _____________________PROJECTS SECTION______________________ */

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #45567d;
}

.projects-section-header {
  display: flex;
  justify-content: center;
  font-size: 38px;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0;
  padding: 40px;
} 

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  background: transparent;
  width: 300px;
  margin: 18px;
}

img {
  display: block;
  border-radius: 3px;
}

.project-title {
  display: flex;
  font-size: 24px;
  font-weight: 300;
  width: 298px;
  justify-content: center;
  padding: 15px 0;
  color: #000;
  background: silver;
  border: 1px solid silver;
  border-radius: 3px;
  margin-left: -18px;
  margin-top: -10px;
}

.project-title:hover {
  background: #6fb38c;
  color: #7a067a;
  transition: .4s;
}

.show-me-more-btn {
  background: #000;
  text-align: center;
  padding: 10px 2px;
  width: 20em; 
  margin-bottom: 40px;
  border-radius: 8px;
}

.show-me-more-btn:hover {
  background: #6fb38c;
}

.btn-txt {
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 3px;
}